.game-nav{
    display: flex;
    align-items: center;
    width: 100%;
    background: #1B1F2A;
    border-radius: 12px;
    height: 55px;
    padding: 6px 4px;
    position: sticky;
    top: 0px;
    z-index: 1;
    &-item{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 12px;
        svg{
            margin-right: 16px;
            path{
                fill: rgba(255, 255, 255, 0.2);
            }
        }
        span{
            color: rgba(255, 255, 255, 0.2);
            font-size: 0.7rem;
            line-height: 1rem;
            font-weight: bold;
        }
        &.active{
            background: #E8E13F;
            span{
                color: #141720;
            }
            svg{
                margin-right: 16px;
                path{
                    fill: #141720;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .game-nav{
        display: none;
    }
}